@model PrestamosConAmortizacion.Models.Prestamos

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Prestamos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a  la Lista", "Index")
        </div>
    }
</div>
